* {
  font-family: "Lucida Sans Unicode";
}

body {
  margin: 0;
  padding: 0;
}

#divUbicacion {
  width: 85%;
  position: absolute;
  border-bottom: solid 5px #0f362d;
}

#ubicacion {
  text-align: center;
  margin: 0;
  background-color: #d19d2c;
  color: #fff;
}

.sidebar {
  position: absolute;
  width: 15%;
  height: 100%;
  right: 0;
  background-color: #ddd;
  display: grid;
  grid-template-rows: 25% 35% 40%;
  padding: 0%;
  margin: 0%;
}

/*Divs del navbar*/

.usuario {
  display: grid;
  grid-template-rows: 75% 25%;
  padding: 0%;
  margin: 0%;
}

.navegacion {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  padding: 0%;
  margin: 0%;
}

/*Opciones*/

.barraOpciones {
  display: grid;
  grid-template-rows: 10% 20% 20% 20% 30%;
  padding: 0%;
  margin: 0;
}

.divfiltros {
  margin: 0 auto;
  width: 80%;
}

#inputcodigoBarras {
  height: 70%;
  width: 80%;
  border-radius: 15px;
  margin: auto;
  border: 2px solid rgb(175, 180, 182);
}

#textoCantidad{
  margin-left: 10%;
}

#cantidad{
  height: 60%;
  width: 80%;
  border-radius: 15px;
  margin: auto;
  border: 2px solid rgb(175, 180, 182);
}

.botonesOpciones{
  margin: 0 auto;
  margin-top:3%;
  height: 75%;
  width: 80%;
  font-size: 130%;
  border-radius: 15px;
  border: 0;
  background-color: rgb(27, 81, 97);
  color: white;
  box-shadow: -1px 7px 10px black;
  transition: 0.7s;
}
.botonesOpciones:hover{
  background-color: white;
  color: rgb(27, 81, 97);
  cursor: pointer;
}

#eliminar{
  background-color: rgb(133, 1, 1);
}

#eliminar:hover{
  background-color: white;
  color: rgb(133, 1, 1);
}

#finalizar {
  background-color: #236e25;
  color: white;
}

#finalizar:hover {
  background-color: white;
  color: #236e25;
}

/*grid usuario*/

.imagenUsuario {
  display: block;
  margin: auto;
  width: 110px;
  height: 110px;
  margin-top: 5%;
}

#datosUsuario {
  margin: auto;
}

/*botones de navegacion */

.botonesNav {
  margin: auto;
  width: 80%;
  height: 70%;
  text-align: center;
  font-size: 150%;
  border-radius: 15px;
  border: 0;
  background-color: rgb(27, 81, 97);
  color: white;
  box-shadow: -1px 7px 10px black;
  transition: 0.7s;
}

.botonesNav:hover {
  background-color: white;
  color: rgb(27, 81, 97);
  cursor: pointer;
}

#caja {
  background-color: rgb(105, 0, 105);
  color: white;
}

#caja:hover {
  background-color: white;
  color: rgb(105, 0, 105);
}

.selectfil {
  height: 40%;
  width: 100%;
  border-radius: 15px;
  border: 2px solid rgb(175, 180, 182);
}

.flecha {
  position: absolute;
  width: 25%;
  height: 85%;
  left: 0;
}

/*Tabla de datos*/

.divTabla {
  overflow: scroll;
  position: absolute;
  width: 85%;
  height: 93%;
  top: 48px;
}

::-webkit-scrollbar {display: none;}

.tabla {
  width: 100%;
  background-color: white;
  text-align: left;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}

thead {
  background-color: #369681;
  border-bottom: solid 5px #0f362d;
  color: white;
}

tr:nth-child(even) {
  background-color: #ddd;
}

tr:hover td {
  background-color: #369681;
  color: white;
  cursor: pointer;
}

.tbImagen {
  width: 80px;
  height: 80px;
}

/*Modales*/

.modal {
  position: absolute;
  top: 40%;
  left: 38%;
  display: flex;
  height: 180px;
  width: 500px;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  background: whitesmoke;
  border-radius: 15px;
  box-shadow: -1px 7px 10px black;
}


/*Componenetes*/

.close-modal {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30PX;
  height: 30PX;
  border-radius: 5px;
  border-radius: 15px;
  border: 0;
  background-color: #bb0000;
  color:#fff;
}

.modal-header {
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 50;
  width: 400;
  text-align: center;
}

.close-modal:hover{
  cursor: pointer;
  transition: .5s;
  transform: scale(1.1);
}

/*Fundamental para mostrar y oculpar la modal*/

.modal {
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}
