* {
  font-family: "Lucida Sans Unicode";
}

body {
  margin: 0;
  padding: 0;
}
#divUbicacion {
  width: 85%;
  position: absolute;
}

#ubicacion {
  text-align: center;
  margin: 0;
  background-color: #d19d2c;
  color: #fff;
  box-shadow: -10px 5px 10px black;
}

.sidebar {
  position: absolute;
  width: 15%;
  height: 87%;
  right: 0;
  background-color: #ddd;
  display: grid;
  grid-template-rows: 30% 40% 30%;
  padding: 0%;
  margin: 0%;
}

/*Divs del navbar*/

.usuario {
  display: grid;
  grid-template-rows: 75% 25%;
  padding: 0%;
  margin: 0%;
}

.navegacion {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  padding: 0%;
  margin: 0%;
}

.filtros {
  display: grid;
  grid-template-rows: 33% 33% 33%;
  padding: 0%;
  margin: 0;
}

.tituloSidebar {
  margin: 0;
}

/*grid usuario*/

.imagenUsuario {
  display: block;
  margin:auto;
  width: 110px;
  height: 110px;
  margin-top: 5%;
}

#datosUsuario{
  margin: auto;
  
}



/*botones de navegacion  line-height: 350%; */ 

.botonesNav{
  margin:auto;
  width: 80%;
  height: 70%;
  text-align: center;
  font-size: 150%;
  border-radius: 15px;  
  border: 0;
  background-color: rgb(27, 81, 97);
  color: white;
  box-shadow: -1px 7px 10px black;
}

.botonesNav:hover{
  background-color: white;
  color: rgb(27, 81, 97);
  cursor: pointer;
}

#caja{
  background-color: rgb(105, 0, 105);
  color: white;
}

#caja:hover{
  background-color: white;
  color: rgb(105, 0, 105);
}

#entradas_salidas{
  height: 100%;
  font-size: 120%;
}

/*Filtros*/
.divfiltros{
  margin: 0 auto;
  width: 80%;
}

.inputsfil{
  height: 40%;
  width: 80%;
  border-radius: 15px;
  margin: auto;
  border: 2px solid rgb(175, 180, 182);
}

.selectfil{
  height: 40%;
  width: 100%;
  border-radius: 15px;
  border: 2px solid rgb(175, 180, 182);
}


.flecha{
  position: absolute;
  width: 25%;
  height: 85%;
  left: 0;
}

/*Barra inferior*/


.barraOpciones {
  position: absolute;
  width: 100%;
  height: 13%;
  bottom: 0;
  background-color: #ddd;
  display: grid;
  grid-template-columns: 30% 70%;
}

.divProductosBaja{
  width: 80%;
}

.botonesCrud{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.botonesOpcion{
  width: 80%;
  height: 60%;
  margin-top: 8%;
  margin-left: 15%;
  border-radius: 15px;
  font-size: 130%;
  border: 0;
  background-color: rgb(27, 81, 97);
  color: white;
  cursor: pointer;
  box-shadow: -1px 7px 10px black;
}

.botonesOpcion:hover{
  background-color: white;
  color: rgb(27, 81, 97);
}

#descartar{
  background-color: rgb(133, 1, 1);
}

#descartar:hover{
  background-color: white;
  color: rgb(133, 1, 1);
}

#nuevo{
  background-color: #236e25;
  color: white;
}

#nuevo:hover{
  background-color: white;
  color: #236e25;
}

.botonProductosBaja{
  width: 65%;
  height: 60%;
  margin-top: 6%;
  margin-left: 6%;
  border-radius: 15px;
  font-size: 100%;
  background-color: rgb(27, 81, 97);
  color: white;
  border: 0;
  cursor: pointer;
  box-shadow: -1px 7px 10px black;
}

.botonProductosBaja:hover{
  background-color: white;
  color: rgb(27, 81, 97);
}

/*Tabla de datos*/

.divTabla {
  position: absolute;
  width: 85%;
  height: 80%;
  top: 7%;
}

.tabla{
  width: 100%;
  background-color: white;
  text-align: left;
  border-collapse: collapse;
}


th, td{
	padding: 10px;
}

thead{
	background-color: #369681;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #369681;
	color: white;
  cursor: pointer;
}


