* {
  font-family: "Lucida Sans Unicode";
}

body {
  margin: 0;
  padding: 0;
}

#ubicacion {
  text-align: center;
  margin: 0;
  background-color: #d19d2c;
  color: fff;
  box-shadow: -1px 5px 10px black;
}

.display {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#columnas {
  display: grid;
  grid-template-columns: 40% 40%;
  height: 85%;
  width: 90%;
  padding-top: 10%;
}

#column1 {
  height: 80%;
  display: grid;
  grid-template-rows: 45% 10% 35%;
  padding-left: 30%;
  padding-right: 10%;
  margin: 5%;
  margin-bottom: 0;
}
#column2 {
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-rows: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
  margin-top: 10%;
  margin: 3%;
  padding: 0;
  font-size: 110%;
}

.divsInput {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  height: 0%;
}

.divsSelect {
  display: grid;
  grid-template-columns: 40% 50% 10%;
  width: 100%;
  height: 0%;
}

#imagen {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 15px;
}

#img {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 15px;
  transition: 1.5s ease;
}

.descripcionImagen{
  margin-top: 6%;
}

#imagenInput {
  position: relative;
  width: 250px;
  height: 250px;
  background: transparent;
  right: 0%;
  bottom: 100%;
  border: none !important;
  border-radius: 15px;
  opacity: 0;
}

#imagenInput:hover {
  cursor: hand;
}

#descripcion {
  border-radius: 15px;
  border: 2px solid rgb(175, 180, 182);
}

.divBotones {
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 5%;
}

.agregarSelect {
  margin-left: 25%;
  width: 50%;
  border-radius: 10px;
  font-weight: bold;
  font-size: large;
  background-color: #236e25;
  color: fff;
  border: 0;
  box-shadow: -1px 7px 5px black;
  transition: 0.7s;
}

.agregarSelect:hover {
  background-color: fff;
  color: #236e25;
  cursor: hand;
}

#select_marca {
  border-radius: 10px;
  border: 2px solid rgb(175, 180, 182);
}

#select_categoria {
  border-radius: 15px;
  border: 2px solid rgb(175, 180, 182);
}

.InputData {
  width: 100%;
  border-radius: 15px;
  border: 2px solid rgb(175, 180, 182);
}

.radios:hover {
  cursor: hand;
}

.botones{
  margin: 0 auto;
  margin-top: 0%;
  width: 80%;
  font-size: 150%;
}

#finalizar {
  border-radius: 15px;
  background-color: #236e25;
  color: fff;
  border: 0;
  box-shadow: -1px 7px 5px black;
  transition: 0.7s;
}

#finalizar:hover {
  background-color: fff;
  color: #236e25;
  cursor: pointer;
}

#cancelar {
  border-radius: 15px;
  background-color: #bb0000;
  color: fff;
  border: 0;
  box-shadow: -1px 7px 5px black;
  transition: 0.7s;
}

#cancelar:hover {
  background-color: fff;
  color: #bb0000;
  cursor: hand;
}

/*Estilos de la modal*/

.modal {
  position: absolute;
  top: 40%;
  left: 38%;
  display: flex;
  height: 150;
  width: 500px;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  background: whitesmoke;
  border-radius: 15px;
  box-shadow: -1px 7px 10px black;
}

.modal-dialog {
  position: relative;
  border-radius: 5px;
  background: var(--white);
  overflow: auto;
  cursor: default;
}

/*CUSTOM VARIABLES HERE*/

.tituloModal {
  position: relative;
  text-align: center;
  margin-top: 20px;
  top: 20px;
}

.formModal {
  position: relative;
  top: 20%;
}

.modal-dialog > * {
  height: 100px;
  width: 400px;
}

.modal-header {
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 50;
  width: 400;
  text-align: center;
}

.modal-header .modal-close {
  font-size: 1.5rem;
}

.modal p + p {
  margin-top: 1rem;
}

.modal-content {
  width: 400px;
  height: 100;
  padding: 0%;
  padding-top: 7%;
}

.modal-footer {
  padding: 0%;
}

.close-modal {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border-radius: 15px;
  border: 0;
  background-color: #bb0000;
  color: #fff;
}

.close-modal:hover {
  cursor: hand;
  transition: 0.5s;
  transform: scale(1.1);
}

#texto-new-marca {
  position: relative;
  left: 4%;
}

#texto-new-categoria {
  position: relative;
  left: 3%;
}

#input-new-marca {
  position: relative;
  right: -20;
  border-radius: 5px;
  border: 2px solid rgb(175, 180, 182);
}

#input-new-categoria {
  position: relative;
  right: -20;
  border-radius: 5px;
  border: 2px solid rgb(175, 180, 182);
}

.finalizarModal {
  position: relative;
  width: 100px;
  height: 30px;
  left: 300px;
  bottom: 28px;
  border-radius: 5px;
  background-color: #236e25;
  color: #fff;
  border: 0;
  box-shadow: -1px 7px 10px black;
}

.finalizarModal:hover {
  background-color: fff;
  color: #236e25;
  cursor: hand;
}

/*Fundamental para mostrar y oculpar la modal*/

.modal {
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}
